<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/_layout :: layout(title = ~{::title}, content = ~{::body})}">
<head>
    <title th:fragment="title">Trang chủ</title>
</head>
<body th:fragment="content">
    <div class="container">
        <div class="mb-3">
            <div class="align-items-center">
                <h3>Danh mục loại hàng</h3>
            </div>
            <div>
                <div class="card border-0" style="width: 18rem;">
                    <img src="/static/img/laptop.png" class="card-img-top" alt="Laptop">
                    <div class="card-body">
                        <p class="card-text">Laptop</p>
                    </div>
                </div>
                <div class="card border-0" style="width: 18rem;">
                    <img src="/static/img/smartphone.png" class="card-img-top" alt="Phone">
                    <div class="card-body">
                        <p class="card-text">Phone</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="align-items-center">
                <h3>Điện thoại bán chạy</h3>
            </div>

        </div>
        <div class="mb-3">
            <div class="align-items-center">
                <h3>Laptop bán chạy</h3>
            </div>

        </div>
    </div>
</body>
</html>